name: Build AppFlowy Web GHCR

on:
  workflow_dispatch:

jobs:
  build-appflowy-web:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout AppFlowy-Web
        uses: actions/checkout@v4
        with:
          repository: AppFlowy-IO/AppFlowy-Web
          ref: main

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push appflowy_web
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ghcr.io/yodev-dev/appflowy_web:latest
